$dark-grey: #272727;
$orange: #f27b35;

html, body {
  width: 100%;
  height: 100%;
}

section {
  min-height: 600px;
  height: 100%;
}

.main-section {
  background-color: $dark-grey;
}

.first-section {
  @extend .main-section;
  height: 90%;
}

.subsection:nth-child(odd) {
  background-color: $orange;
}

.subsection:nth-child(even) {
  background-color: white;
}

header {
  height: 10%;
}
