/* Helper classes */
.center-auto {
  margin: 50px auto; }

.vertical-center {
  float: none;
  display: inline-block;
  vertical-align: middle; }

/**** NAVBAR ****/
.navbar.navbar-default {
  width: 100%;
  background-color: #272727;
  border: none;
  margin-bottom: 0; }
  .navbar.navbar-default .navbar-container {
    padding: 0 5%; }
    .navbar.navbar-default .navbar-container a.navbar-brand {
      color: white;
      font-size: 2em;
      font-weight: 600; }
      .navbar.navbar-default .navbar-container a.navbar-brand #navbar-logo {
        display: none;
        height: 30px;
        margin-top: -5px; }
    @media (min-width: 768px) {
      .navbar.navbar-default .navbar-container .navbar-nav {
        width: 83.33333%; } }
    @media (min-width: 768px) {
      .navbar.navbar-default .navbar-container .navbar-nav li {
        width: 20%; } }
    @media (min-width: 768px) {
      .navbar.navbar-default .navbar-container .navbar-header {
        width: 16.66667%; } }
    .navbar.navbar-default .navbar-container a.nav-item {
      text-decoration: none;
      color: white;
      text-align: center; }
    .navbar.navbar-default .navbar-container a.nav-item:hover, .navbar.navbar-default .navbar-container li.active > a {
      background-color: #f27b35;
      color: #272727; }

/* positioning classes required by affix bootstrap plugin */
@media (min-width: 768px) {
  .affix-top {
    position: absolute;
    bottom: 0; } }
@media (max-width: 768px) {
  .affix-top {
    position: fixed;
    top: 0; } }

.affix {
  position: fixed;
  top: 0; }

/**** BODY ****/
html, body {
  width: 100%;
  height: 100%;
  font-family: "Open Sans"; }

@media (max-width: 768px) {
  body {
    padding-top: 40px; } }

a, a:hover {
  color: #f27b35; }

.section {
  position: relative;
  min-height: 100%; }
  .section .section-title {
    margin-bottom: 0.8em;
    text-align: center;
    font-size: 3em;
    font-weight: 600; }
  .section article {
    text-align: justify; }

.first-section {
  background: url("../images/darker-money.jpg") no-repeat;
  background-size: cover;
  color: white; }
  .first-section .home-header {
    font-size: 18px;
    height: 45px;
    line-height: 45px; }
    .first-section .home-header a {
      color: white; }
    .first-section .home-header a:hover {
      color: #f27b35; }
    .first-section .home-header .anchor-icon {
      margin: 0 5px; }
  .first-section .logo-img {
    max-height: 30px;
    height: 100%;
    margin-right: 5px; }
  .first-section .mission-container .logo-big-homepage {
    height: 200px;
    width: 200px; }
  .first-section .mission-container .homepage-welcome-header {
    font-size: 160px;
    line-height: 200px; }
  .first-section .mission-container .mission {
    background-color: rgba(0, 0, 0, 0); }

.main-section {
  background-color: #272727;
  color: white; }

.contact-section {
  background: url("../images/d17.jpg") no-repeat;
  background-size: cover; }
  .contact-section .contact-row, .contact-section .contact-title, .contact-section .like-finance-title, .contact-section .contact-prompt {
    text-align: center; }
  .contact-section .like-finance-title {
    margin-bottom: 20px; }

.logo-big {
  max-height: 100%;
  max-width: 60%; }

.subsection {
  text-align: center; }

.subsection:nth-child(odd) {
  background-color: #f27b35;
  color: white; }

.subsection:nth-child(even) {
  background-color: white;
  color: #f27b35; }

.video {
  min-width: 100%;
  min-height: 100%;
  margin-top: 10px; }

.video-wrapper {
  height: 320px; }

.data-vertical-line {
  margin-left: 20px;
  height: 30px;
  border-left: 1px solid white; }

.not-active, .not-active .data-circle {
  border-style: dotted !important; }
  .not-active a, .not-active .data-circle a {
    padding: 0; }

.subsections-tree-node .data-circle {
  display: inline-block;
  height: 40px;
  width: 40px;
  border: 2px solid white;
  border-radius: 100%;
  text-align: center;
  line-height: 36px;
  font-size: 0.8em;
  margin-right: 5px; }
