.center-auto {
  margin: 50px auto;
  padding: 30px 50px;
}

.vertical-center {
  float: none;
  display: inline-block;
  vertical-align: middle;
}

.navbar.navbar-default {
  width: 100%;
  background-color: #272727;
  border: none;
  margin-bottom: 0;
}
.navbar.navbar-default .navbar-container {
  padding: 0 5%;
}
.navbar.navbar-default .navbar-container a.navbar-brand {
  color: white;
  font-size: 2em;
  font-weight: 600;
}
@media (min-width: 819px) {
  .navbar.navbar-default .navbar-container a.navbar-brand {
    line-height: 40px;
  }
}
@media (min-width: 1282px) {
  .navbar.navbar-default .navbar-container a.navbar-brand {
    line-height: 20px;
  }
}
.navbar.navbar-default .navbar-container a.navbar-brand #navbar-logo {
  display: none;
  height: 30px;
  margin-top: -5px;
}
@media (min-width: 819px) {
  .navbar.navbar-default .navbar-container .navbar-nav {
    display: table;
    width: 83.33333%;
  }
}
@media (min-width: 819px) {
  .navbar.navbar-default .navbar-container .navbar-nav li {
    display: table-cell;
    float: none;
    vertical-align: middle;
    width: 20%;
    cursor: pointer;
  }
}
.navbar.navbar-default .navbar-container .navbar-nav li:hover,
.navbar.navbar-default .navbar-container .navbar-nav li.active,
.navbar.navbar-default .navbar-container .navbar-nav li.active > a.nav-item {
  background-color: #f27b35;
  color: #272727;
}
@media (min-width: 819px) {
  .navbar.navbar-default .navbar-container .navbar-header {
    width: 16.66667%;
  }
}
.navbar.navbar-default .navbar-container a.nav-item {
  text-decoration: none;
  color: white;
  text-align: center;
}
.navbar.navbar-default .navbar-container a.nav-item:hover {
  background-color: inherit;
  color: inherit;
}

.sidenav-icons {
  position: fixed;
  top: 100px;
  right: 0px;
  z-index: 2;
  width: 35px;
}

.sidenav-icon {
  display: block;
  float: right;
  width: 28px;
  height: 40px;
  margin-bottom: 5px;
  padding-right: 5px;
  padding-left: 5px;
  transition: width 0.5s;
  background-color: white;
  border-radius: 5px 0 0 5px;
  font-size: 15px;
  line-height: 40px;
}
.sidenav-icon:first-child {
  font-size: 20px;
}
.sidenav-icon:hover {
  width: 35px;
}

@media (min-width: 819px) {
  .affix-top {
    position: absolute;
    bottom: 0;
  }
}
@media (max-width: 819px) {
  .affix-top {
    position: fixed;
    top: 0;
  }
}

.affix {
  position: fixed;
  top: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "Open Sans";
}

@media (max-width: 768px) {
  body {
    padding-top: 50px;
  }
}

a,
a:hover {
  color: #f27b35;
}

.section {
  position: relative;
  min-height: 100%;
  background: transparent;
  /*background-size: cover;
  background-repeat: no-repeat;*/
}
.section .section-title {
  margin-bottom: 0.8em;
  text-align: center;
  font-size: 3em;
  font-weight: 600;
}
.section article {
  text-align: justify;
}

.first-section {
  color: white;
}
.first-section .home-header {
  font-size: 18px;
  height: 45px;
  line-height: 45px;
}
.first-section .home-header a {
  color: white;
}
.first-section .home-header a:hover {
  color: #f27b35;
}
.first-section .home-header .anchor-icon {
  margin: 0 5px;
}
.first-section .logo-img {
  max-height: 30px;
  height: 100%;
  margin-right: 5px;
}
.first-section .mission-container .logo-big-homepage {
  height: 240px;
  width: 240px;
}
.first-section .mission-container .homepage-welcome-header {
  font-size: 160px;
  line-height: 200px;
}
.first-section .mission-container .mission {
  padding-top: 0;
  padding-bottom: 0;
  background-color: transparent;
}
.first-section .mission-container .join-us {
  font-weight: 400;
}

.main-section .center-auto {
  background-color: #272727;
  color: white;
}

.contact-section .contact-row,
.contact-section .contact-title,
.contact-section .like-finance-title,
.contact-section .contact-prompt {
  text-align: center;
}
.contact-section .like-finance-title {
  margin-bottom: 20px;
}

.logo-big {
  max-height: 100%;
  max-width: 60%;
}

.subsection {
  text-align: center;
}

#financial-abc-subsection1 .center-auto,
#financial-abc-subsection3 .center-auto,
#experts-subsection1 .center-auto,
#cofounder-subsection1 .center-auto {
  background-color: #f27b35;
  color: white;
}

#financial-abc-subsection2 .center-auto {
  background-color: white;
  color: #f27b35;
}

.video {
  min-width: 100%;
  min-height: 100%;
  margin-top: 10px;
}

.video-wrapper {
  height: 320px;
}

.data-vertical-line {
  margin-left: 20px;
  height: 30px;
  border-left: 1px solid white;
}

.not-active,
.not-active .data-circle {
  border-style: dotted !important;
}
.not-active a,
.not-active .data-circle a {
  padding: 0;
}

.subsections-tree-node .data-circle {
  display: inline-block;
  height: 40px;
  width: 40px;
  border: 2px solid white;
  border-radius: 100%;
  text-align: center;
  line-height: 36px;
  font-size: 0.8em;
  margin-right: 5px;
}

.gallery-images {
  padding-bottom: 20px;
}
.images-item {
  position: relative;
  margin-top: 30px;
  padding-bottom: 56.25%;
}
.images-item:hover {
  cursor: zoom-in;
}
.images-item:hover .image-holder {
  transform: scale(1.2);
}
.images-item-inner {
  position: absolute;
  top: 0;
  left: 15px;
  right: 15px;
  bottom: 0;
  overflow: hidden;
  background-color: white;
}
.image-holder {
  position: absolute;
  top: 10px;
  right: 10px;
  bottom: 10px;
  left: 10px;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 0.5s;
}
.hidden {
  display: none;
}
.gallery-slider {
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100%;
  width: 100%;
  background-color: white;
  z-index: 1000;
  overflow-y: scroll;
  overflow-x: hidden;
}
.tiles-item {
  display: none;
  position: absolute;
  top: 80px;
  left: 60px;
  right: 60px;
  padding-bottom: 60px;
  transition: all 0.8s;
}
.tiles-item.prev,
.tiles-item.current,
.tiles-item.next {
  display: block;
}
.tiles-item.prev {
  transform: translateX(-150%);
}
.tiles-item.next {
  transform: translateX(150%);
}
.tiles-item img {
  width: 100%;
}
@media (min-width: 819px) {
  .images-item {
    padding-bottom: 28.125%;
  }
}
@media (min-width: 1282px) {
  .images-item {
    padding-bottom: 18.75%;
  }
}
.slider-close,
.nav-prev,
.nav-next {
  border: 0;
  background: none;
  color: black;
  font-weight: 300;
}
.slider-close {
  position: fixed;
  right: 30px;
  font-size: 50px;
}
.nav-prev {
  position: fixed;
  left: 20px;
  top: 50vh;
  font-size: 30px;
  padding: 0;
}
.nav-next {
  position: fixed;
  right: 30px;
  top: 50vh;
  font-size: 30px;
  padding: 0;
}
.ui-loader {
  display: none !important;
}

