$font: 'Open Sans';
$light-grey: #f1f1f1;
$dark-grey: #272727;
$orange: #f27b35;
$main-sections: 5;
$max-subsections: 5;

/* Helper classes */

.isStuck {
  bottom: auto;
}

.center-auto {
  margin: 50px auto;
}

.vcenter {
  float:none;
  display:inline-block;
  vertical-align:middle;
}

/* Navbar */

header {
  position: absolute;
  bottom: 0;
  width: 100%;
  min-width: 960px;
  height: auto;
  margin: auto;
  background-color: $dark-grey;
  z-index: 99999;
}

nav {
  height: 3em;
  line-height: 3em;
  margin: 0 5%;

  .nav-item {
    float: left;
    width: 98%/($main-sections + 1);
    text-decoration: none;
    color: white;
    text-align: center;
  }

  .logo {
    @extend .nav-item;
    font-size: 2em;
    font-weight: 600;
  }

  a:hover, .active {
    background-color: $orange;
    color: $dark-grey;
  }
}

/* Body */

html, body {
  width: 100%;
  height: 100%;
  font-family: $font;
}

a, a:hover {
  color: $orange;
}

section {
  position: relative;
  min-height: 100%;

  .section-title {
    margin-bottom: 0.8em;
    text-align: center;
    font-size: 3em;
    font-weight: 600;
  }

  article {
    text-align: justify;
  }
}

.first-section {
  background-color: white;
}

.main-section {
  background-color: $dark-grey;
  color: white;
}

#contact {
  background: url("#/images/d17.jpg") no-repeat;
  background-size: cover;
}

.logo-wrapper {
  text-align: center;
}

.logo-big {
  max-height: 100%;
  max-width: 60%;
}

.data-vertical-line {
  margin-left: 20px;
  height: 30px;
  border-left: 1px solid white;
}

.not-active, .not-active .data-circle {
  border-style: dotted !important;

  a {
    padding: 0;
  }
}

.subsections-tree-node {

  .data-circle {
    display: inline-block;
    height: 40px;
    width: 40px;
    border: 2px solid white;
    border-radius: 100%;
    text-align: center;
    line-height: 36px;
    font-size: 0.8em;
    margin-right: 5px;
  }
}

.subsection {

  text-align: center;

  .video {
    min-width: 100%;
    min-height: 45%;
  }
}

.subsection:nth-child(odd) {
  background-color: $orange;
  color: white;
}

.subsection:nth-child(even) {
  background-color: white;
  color: $orange;
}
